<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet1.css">
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css">
</head>
<body>

    <div class="topnav">
        <a class="active" href="/Home/Index">Все сотрудники</a>
        <a href="/Home/SetEmploye">Добавить сотрудника</a>
        <a href="/Home/Search">Поиск</a>
    </div>
    @RenderBody()
</body>
</html>
